<!doctype html>
<html lang="en" ng-app="blinkApp">
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/frameeditor.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="container" ng-controller="FrameEditorController">
        <div class="page-header">
            <h1>Create New Blinks!
        </div>
        <div class="btn-group">
          <button class="btn" ng-click="create()">New</button>
          <button class="btn" ng-click="send()">Send</button>
          <button class="btn" ng-click="save()">Save</button>
        </div>
        <div ng-show="nameFormVisible">
            <input type="text" ng-model="blinkName" required /><button type="button" ng-click="persist()">OK</button><button type="button" ng-click="cancelNameForm()" >Cancel</button>
        </div>
        <div class="row">
            <div class="span12">
                <div class="frame row" ng-repeat="frame in frames">
                    <div class="led purple span1 ng-class:frame.purple" ng-click='toggle(frame, "purple")'>
                        <div class="hint">&nbsp;</div>
                    </div>
                    <div class="led pink span1 ng-class:frame.pink" ng-click='toggle(frame, "pink")'>
                        <div class="hint">&nbsp;</div>
                    </div>
                    <div class="led white span1 ng-class:frame.white" ng-click='toggle(frame, "white")'>
                        <div class="hint">&nbsp;</div>
                    </div>
                    <div class="led yellow span1 ng-class:frame.yellow" ng-click='toggle(frame, "yellow")'>
                        <div class="hint">&nbsp;</div>
                    </div>
                    <div class="led red span1 ng-class:frame.red" ng-click='toggle(frame, "red")'>
                        <div class="hint">&nbsp;</div>
                    </div>
                    <div class="led blue span1 ng-class:frame.blue" ng-click='toggle(frame, "blue")'>
                        <div class="hint">&nbsp;</div>
                    </div>
                    <div class="span5">
                        <div class="form-horizontal">
                            <button class="btn" type="button" ng-click="addFrame(frame)">Add <i class="icon-arrow-down"></i></button>
                            <button class="btn" type="button" ng-click="removeFrame(frame)"><i class="icon-remove-sign"></i></button>
                            <input type=text class="input-mini" readonly ng-model="frame.time"/>
                            <input type="range" data-highlight="true" min="1" max="10" ng-model="frame.time">
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services/socket.js"></script>
    <script src="/js/controllers/frameeditorctrl.js"></script>
  </body>
</html>
