/* Angular Bootstrap hack for not allowing # in href */
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
    }

.frame{
    padding: 5px;   
}

.frame .led{
    max-width: 200px;
    height: 30px;
    border: solid 1px black;
    background-color: lightgray;
}

.frame .hint{
    max-width: 5px;
    height: 30px;
}

.frame .led.red .hint{
    background-color: red;   
}

.frame .led.red.on{
    background-color: red;   
}

.frame .led.blue .hint{
    background-color: blue;   
}

.frame .led.blue.on{
    background-color: blue;   
}

.frame .led.purple .hint {
    background-color: purple;    
}

.frame .led.purple.on{
    background-color: purple;   
}

.frame .led.yellow .hint{
    background-color: yellow;   
}

.frame .led.yellow.on{
    background-color: yellow;   
}

.frame .led.white .hint{
    background-color: white;   
}

.frame .led.white.on{
    background-color: white;   
}

.frame .led.pink .hint{
    background-color: pink;   
}

.frame .led.pink.on{
    background-color: pink;   
}